# Flutter / Dart
.dart_tool/
.buildlog/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml

# Android / Gradle
/android/.gradle/
/android/app/build/
**/build/
local.properties
android/local.properties

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/engine
ios/Runner.xcworkspace
*.xcworkspace
*.xcuserstate

# Misc
*.log
*.keystore
*.jks
pubspec.lock
